@charset "utf-8";

.visual {
  /* height: 102.8rem; */
  height: 100vh;
  background: url(../img/visual.jpg) no-repeat 0 0 / cover;
  position: relative;
}

.visual::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.visual-title {
  padding: 0 2rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -40%);
  text-align: center;
}
.visual-title p {
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: -0.02em;
  color: #d2d2d2;
}
.visual-title h2 {
  font-weight: 700;
  font-size: 4.2rem;
  letter-spacing: -0.02em;
  color: #fff;
}

.btn-cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* width: 22rem; */
  padding: 1.4rem 4.8rem;
  background: var(--main-color);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);

  border-radius: 40px;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  margin: 3rem auto 0;
  transition: 0.4s;
}

.btn-cta:hover {
  background: var(--main-color-dark);
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.18);
  color: #fff;
}

/* map-theme------------------------------------------------- */
.map-theme {
  margin-top: 3rem;
  overflow: hidden;
}

.map-con {
  display: flex;
  height: 40rem;
  position: relative;
  align-items: center;
}

/* .map-info {
  width: 40%;
  text-align: left;
} */

.title-wrap p {
  /* background: #f00; */
  color: #555555;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.btn-find {
  display: flex;
  gap: 0.2rem;
  margin-top: 3rem;
}

.btn-wrap .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.1rem 3.4rem;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  /* border: 1px solid #cbcbcb;
  color: #444; */
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 30px;
  transition: 0.3s;
}

.btn-wrap .btn:hover {
  background: var(--main-color);
  border: 1px solid var(--main-color);

  color: #fff;
  transition: 0.3s;
}

.btn-wrap .btn svg {
  transition: 0.3s;
}

.btn-wrap .btn:hover svg {
  transform: translateX(5px); /* 오른쪽으로 5px 이동 */
  transition: transform 0.3s ease;
  transition: 0.3s;
}

.theme-con {
  display: flex;
  gap: 2.6rem;
  width: 60%;
  min-width: 65rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.theme-con::before {
  content: "";
  top: -1px;
  right: 0;
  width: 100%;
  height: 6.5rem;
  background: linear-gradient(#fff 0%, transparent 100%);
  position: absolute;
  z-index: 1;
}
.theme-con::after {
  content: "";
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 6.5rem;
  background: linear-gradient(transparent 0%, #fff 100%);
  position: absolute;
}

.theme-wrap.theme-con1 {
  flex: 1;
  width: 100%;
  height: 100%;
}

.theme-wrap.theme-con1 ul {
  animation: flowAni 27s linear infinite;
}

.theme-wrap.theme-con1:hover ul {
  animation-play-state: paused;
}

.theme-wrap.theme-con1 ul li {
  padding: 1rem 0;
  /* border: 1px solid #000; */
}

.theme-wrap.theme-con2 {
  flex: 1;
  width: 100%;
  height: 100%;
}

.theme-wrap.theme-con2 ul {
  animation: flowAni 27s linear infinite reverse;
}

.theme-wrap.theme-con2:hover ul {
  animation-play-state: paused;
}

.theme-wrap.theme-con2 ul li {
  padding: 1rem 0;
}

.theme-wrap li a figure {
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.theme-wrap li a figure img {
  width: 100%;
  height: 100%;
  /* border-radius: 6px; */
  object-fit: contain;
}

/* new-alarm------------------------------------------------ */

.new-alarm {
  background-color: #e6eada;
  margin-top: 4rem;
  padding: 7rem 0 5rem;
  text-align: center;
}

.new-info p {
  /* background: #f00; */
  color: #555555;
  font-size: 1.8rem;
  margin-top: 0.8rem;
}

.tag-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem 0.5rem;
  max-width: 70rem;
  margin: 3rem auto 0;
}

.tag-set .tag-item {
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.7rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  color: #333;
  transition: 0.3s;
}

.tag-item::before {
  content: "#";
  margin-right: 0.4rem;
  opacity: 0.6;
}

.tag-item:hover {
  background-color: #ffffff;
  border-color: #bbbbbb;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
  color: #000000;
}

.new-alarm .btn-find {
  margin-top: 5rem;
}

/* market-best---------------------------------------------------------- */

.market-best {
  padding: 12rem 0 0;
}

.best-list {
  margin-top: 3.2rem;
  display: flex;
  gap: 2rem;
}

.best-item {
  flex: 0 0 calc(25% - (20px * 3 / 4));
}

.best-item figure {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
}

.best-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.list-info {
  margin-top: 0.8rem;
}
.list-info dl dt {
  font-size: 1.4rem;
  color: #666;
}
.list-info dl dd {
  font-size: 1.6rem;
  font-weight: 500;
  color: #222;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-info p {
  margin-top: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--main-color);
}

.best-item:hover img {
  transform: scale(1.03);
  transition: 0.3s;
}

.plus-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus-box a {
  display: inline-flex;
  font-size: 1.5rem;
  font-weight: 400;
  color: #666;
  align-items: center;
  transition: 0.3s;
}

.plus-box a:hover {
  color: #000000;
  transition: 0.3s;
}

/* new-ad--------------------------------------------------------- */

.new-ad {
  padding: 12rem 0 0;
  position: relative;
}

.ad-slider {
  margin-top: 3.2rem;
}

.ad-item .con-info p::after {
  content: "AD";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #888;
  background-color: #f6f6f6;
  width: 2.8rem;
  height: 1.6rem;
  border-radius: 10px;
  margin-left: 0.6rem;
}

.ad-item.no-ad .con-info p::after {
  display: none;
}

.ad-slider .swiper-button-next,
.ad-slider .swiper-button-prev {
  opacity: 0;
  transition: 0.3s;
}

.ad-slider:hover .swiper-button-next,
.ad-slider:hover .swiper-button-prev {
  opacity: 1;
  transition: 0.3s;
}

.ad-slider .swiper-pagination-fraction {
  width: auto;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;

  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}

/* main-banner-------------------------------------------------- */

.main-banner {
  margin-top: 12rem;
}

.banner-con {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.banner-image {
  flex: 0 1 110px;
  min-width: 100px;
}

.banner-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.banner-text {
  flex: 1;
  min-width: 0;
}

.banner-text strong {
  font-size: 2.7rem;
  font-weight: 700;
  color: #222;
}

.banner-text p {
  margin-top: 0.2rem;
  font-size: 1.6rem;
  color: #333;
}

/* on-air -------------------------------------------------------*/

.now-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.now {
  padding-top: 12rem;
}

.now-con {
  margin-top: 3.2rem;
}

.now-list:hover .now-card img {
  transform: scale(1.02);
  transition: 0.3s;
}

.now-card {
  border-radius: 6px;
  overflow: hidden;
}

.now-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.3s;
}

.now-card dl {
  padding-top: 1.2rem;
}

.now-card dl dt {
  font-size: 2.4rem;
  font-weight: 600;
  color: #222;
}
.now-card dl dd {
  font-size: 1.4rem;
  color: #666;
}

.now-wrap .swiper-button-next::after,
.now-wrap .swiper-button-prev::after {
  font-size: 1.6rem;
  -webkit-text-stroke: 1px;
}

.now-wrap .swiper-button-next,
.now-wrap .swiper-button-prev {
  color: #444;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 40px;
  transition: 0.3s;
  top: 35%;
  box-shadow:
    0 1px 4px 0 rgba(0, 0, 0, 0.03),
    0 0 1px 0 rgba(0, 0, 0, 0.03);
}

.now-wrap .swiper-button-prev {
  left: -30px; /* 마이너스 값을 줘서 박스 밖으로 밀어냄 */
}

.now-wrap .swiper-button-next {
  right: -30px; /* 마이너스 값을 줘서 박스 밖으로 밀어냄 */
}

/* .now-con .swiper-button-next:hover,
.now-con .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
} */

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

@keyframes flowAni {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* 반응형 분기점---------------------------------------------------------------*/
@media (max-width: 1240px) {
  /* 히어로 섹션 폰트 조절 */
  .visual-title h2 {
    font-size: 4rem;
  }
}
@media (max-width: 1024px) {
  /* 히어로 섹션 폰트 조절 */
  .visual-title h2 {
    font-size: 3.6rem;
  }
  /* 섹션 타이틀 폰트 조절 */
  h3 {
    font-size: 2.8rem;
  }

  /* 메인 제보하기 배너 폰트 조절 */
  .banner-text strong {
    font-size: 2.4rem;
  }
  /* 지금 주목할 소식 섹션 폰트 조절 */
  .now-card dl dt {
    font-size: 1.9rem;
  }
}

@media (max-width: 930px) {
  /* 테마로 서점 찾기 섹션 수정*/
  /* 마퀴 한 줄 숨기기 */
  .theme-wrap.theme-con1 {
    display: none;
  }

  /* 텍스트 영역과 같이 플렉스(.map-con) 아이템으로 */
  .theme-con {
    position: relative;
    display: block;
    width: 55%;
    min-width: 180px;
  }
  .map-con {
    justify-content: space-between;
  }

  .banner-con {
    gap: 2rem;
  }

  .banner-image {
    flex: 1 1 90px;
    max-width: 90px;
    min-width: 80px;
  }
  .banner-text {
    flex: 1;
    min-width: 343px;
  }
  .banner-set {
    gap: 3rem;
  }

  .banner-con {
    padding: 4rem;
  }
}

@media (max-width: 768px) {
  /* 테마로 서점 찾기 섹션 수정*/
  /* 마퀴 위치 텍스트 영역 아래로 수정 */
  .map-con {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: auto;
  }
  .map-theme {
    margin-top: 5rem;
  }
  .theme-con {
    width: 100%;
    margin-top: 5rem;
  }

  /* 마퀴 방향 가로로 변경 */
  /* ul가로로 나란히 */
  .theme-wrap.theme-con2 {
    display: flex;
  }
  /* ul의 li들 가로로 나열 */
  .theme-wrap.theme-con2 ul {
    display: flex;
    animation: flowAniX 15s linear infinite reverse;
  }

  /* 애니메이션 세로에서 가로로 변경 */
  @keyframes flowAniX {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* 마퀴 카드, 그라디언트 위치 조절*/
  .theme-wrap.theme-con2 ul li {
    padding: 0 1.2rem;
    width: 30rem;
    height: auto;
    /* flex-shrink: 0; */
  }

  .theme-con::before {
    bottom: 0;
    left: 0;
    width: 6rem;
    height: 100%;
    background: linear-gradient(to left, transparent, #fff);
  }

  .theme-con::after {
    bottom: 0;
    right: 0;
    width: 6%;
    height: inherit;
    background: linear-gradient(to right, transparent, #fff);
  }

  /* 폰트 조절, 구조 변경 */
  /* 히어로 영역 */
  .visual-title p {
    font-size: 2rem;
  }

  .visual-title h2 {
    font-size: 3rem;
  }

  .btn-cta {
    font-size: 1.6rem;
    padding: 1.4rem 4rem;
  }

  /* 섹션 타이틀 폰트 */
  h3 {
    font-size: 2.2rem;
  }

  /* 테마로 찾기 */
  .map-info {
    text-align: center;
  }

  .map-info br {
    display: none;
  }

  .title-wrap p {
    font-size: 1.5rem;
    margin-top: 0.6rem;
  }

  .btn-wrap .btn {
    font-size: 1.5rem;
  }
  .btn-find {
    margin-top: 2rem;
  }

  /* 태그로 찾기 */
  .new-alarm {
    margin-top: 6rem;
    padding: 6rem 0 5rem;
  }

  .new-info p {
    font-size: 1.5rem;
    margin-top: 0.6rem;
  }

  .tag-set {
    margin: 2rem auto 0;
  }

  /* 오늘의 발견 섹션 */
  .new-ad {
    padding: 7rem 0 0;
  }
  .ad-slider {
    margin-top: 2rem;
  }

  .ad-slider .swiper-button-next,
  .ad-slider .swiper-button-prev {
    display: none;
  }

  .ad-slider .swiper-pagination-fraction {
    padding: 4px 10px;
  }

  /* 마켓 베스트 섹션 */
  .market-best {
    padding: 7rem 0 0;
  }

  .best-list {
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }

  .best-item {
    flex: 0;
  }
  .best-item:not(:last-child) {
    border-bottom: #eee solid 2px;
  }

  .best-item a {
    display: flex;
    width: 100%;
  }

  .best-item figure {
    width: 20rem;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
  }

  .list-info {
    margin-top: 3rem;
  }
  .list-info dl dd {
    font-size: 1.7rem;
    font-weight: 600;
    color: #222;
  }

  /* 메인 배너 */
  .main-banner {
    margin-top: 4rem;
  }
  .banner-con {
    padding: 3rem;
    gap: 0;
  }

  .banner-text strong {
    font-size: 2rem;
  }
  .banner-text p {
    font-size: 1.5rem;
  }

  .banner-image {
    display: none;
  }
  .banner-text {
    min-width: 0px;
  }

  /* 지금 주목할 소식 섹션 */
  .now {
    padding: 7rem 0 0;
  }
  .now-con {
    margin-top: 2rem;
  }

  .now-wrap .swiper-button-next,
  .now-wrap .swiper-button-prev {
    display: none;
  }

  @media (max-width: 600px) {
    .ad-slider .swiper-pagination-fraction {
      bottom: auto;
      top: 6%;
      left: auto;
      right: 0;
    }

    .best-item figure {
      width: 17rem;
    }
    .banner-con {
      flex-direction: column;
      gap: 2rem;
    }

    .banner-text {
      text-align: center;
    }

    .banner-text strong {
      font-size: 1.9rem;
    }
    .banner-text p {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 520px) {
    .visual-title p {
      font-size: 1.8rem;
    }
    .visual-title h2 {
      font-size: 2.6rem;
    }

    .best-item figure {
      width: 15rem;
      height: 15rem;
      min-width: 15rem;
    }
  }
  /* 
  @media (max-width: 450px) {
    .ad-slider .swiper-pagination-fraction {
      bottom: 40%;
      left: auto;
      right: 0;
    }
  } */
}
