@charset "utf-8";

.inner {
  width: 141rem;
  /* background: #5f5; */
}

/* 서브-신간알림! */

.logo a {
  background: url(../img/sub-logo.svg) no-repeat 0 0 / cover;
}

.gnb li a {
  color: #000;
}

.btn-search {
  background: url(../img/sub-ico-search.svg) no-repeat 50%;
  border: 1px solid #000;
}

.btn-login {
  background: url(../img/sub-ico-login.svg) no-repeat 50%;
  border: 1px solid #000;
}

.btn-menu {
  background: url(../img/sub-ico-menu.svg) no-repeat 0 0 / cover;
}

/* 상단 링크 메뉴-------------------------------------------------------*/

.sub-link {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 4.3rem;
}

.sub-link a {
  font-weight: 500;
  font-size: 2.5rem;
}

.sub-link a b {
  display: block;
  padding: 1rem 0;
  position: relative;
}

.sub-link a b::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.1rem;
  background: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
}

.sub-link a.on {
  color: var(--main-color);
  font-weight: 700;
}

.sub-link a.on b::after {
  width: 100%;
}

.sub-link a:hover b::after {
  width: 100%;
}

/* 검색창 -------------------------------------------------------*/

.search {
  margin-top: 9.1rem;
}

.search-wrap {
  width: 61.5rem;
  /* width: 32.0313%; */
  height: 6.1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #cacaca;
  border-radius: 40px;
}

.search-wrap input {
  font-size: 2rem;
  color: #111;
  padding: 0 3rem;
  background: transparent;
  outline: none;
}

.search-wrap button {
  width: 9rem;
  height: 6.1rem;

  background: #f5f;
  background: url(../img/form-search.svg) no-repeat 50%;
}

.sub-new-alarm {
  margin-top: 15.3rem;
}

/* sub-new-alarm -------------------------------------------------------*/

h2 {
  font-size: 5rem;
  font-weight: 600;
}

.alarm-con li {
  display: flex;
  margin-top: 20rem;
}

.item {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.item.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none; /* 숨길 때 클릭 방지 */
}

.item.wait {
  opacity: 0;
  transform: translateY(20px);
}
.ad-item {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.ad-item.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none; /* 숨길 때 클릭 방지 */
}

.ad-item.wait {
  opacity: 0;
  transform: translateY(20px);
}

.alarm-con li:first-child {
  margin-top: 3.5rem;
}

.alarm-con ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.alarm-con ul li:nth-child(even) .con-info {
  text-align: right;
}

.alarm-con li figure {
  width: 81rem;
  width: 57.4468%;
  /* height: 45.5rem; */
  aspect-ratio: 1/0.5617;
}

.alarm-con li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alarm-con li:hover .con-info dl dt {
  color: var(--main-color);
}

.con-info {
  width: 60rem;
  width: 42.5532%;
  padding: 1.7rem 5.3rem 1.7rem 7rem;
}

.con-info-wrap {
  width: 47.7rem;
  width: 100%;
}

.con-info .con-info-wrap dl dt {
  font-weight: 500;
  font-size: 4.5rem;
  transition: 0.4s;
}

.con-info .con-info-wrap dl dd {
  font-size: 2.2rem;
  color: var(--text-color-b);
  margin-top: 1rem;
}

.con-info .con-info-wrap p {
  font-size: 1.5rem;
  color: var(--text-color-w);
  margin-top: 4.1rem;
}

.view-more {
  display: flex;
  justify-content: center;
  margin-top: 14rem;
}

.plus {
  background: transparent;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--main-color);
  display: flex;
  gap: 1.1rem;
  align-items: center;
  transition: 0.4s;
}

.plus::after {
  content: "";
  display: block;
  width: 4.3rem;
  height: 4.3rem;
  background: url(../img/sub-plus.svg) no-repeat 50%;
  transition: 0.4s;
}

.view-more:hover .plus {
  color: var(--main-color-dark);
  transition: 0.4s;
}

.view-more:hover .plus::after {
  transition: 0.4s;
  background: url(../img/sub-plus-hover.svg) no-repeat 50%;
}

.alarm-con ul .li-4 {
  display: none;
}

/* sub-semi-ad -------------------------------------------------------*/

.sub-semi-ad {
  margin-top: 20rem;
  background: #f9f9f9;
}

.sub-semi-ad:hover a {
  color: inherit;
}

.semi-ad-con a {
  display: flex;
  align-items: center;
}

.con-txt {
  width: 62.3rem;
  width: 44.1844%;
}

.con-txt .txt-wrap dl dt {
  font-weight: 700;
  font-size: 4.5rem;
}

.con-txt .txt-wrap dl dd {
  font-weight: 600;
  font-size: 2.6rem;
  margin-top: 3rem;
  color: var(--text-color-b);
}

.con-txt .txt-wrap dl dd b {
  display: block;
  color: var(--text-color-b);
}

.txt-wrap strong {
  display: none;
}

.semi-ad-con figure {
  width: 78.7rem;
  width: 55.8156%;
}

.semi-ad-con figure img {
  width: 100%;
  object-fit: cover;
}

/* sub-ad -------------------------------------------------------*/

.sub-ad {
  margin-top: 23.2rem;
}

.ad-con-list {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15rem;
}

.ad-con-list li {
  width: 43.3rem;
  width: 30.7092%;
}

.ad-con-list li figure {
  width: 100%;
  /* height: 24.7rem; */
}

.ad-con-list li figure img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.ad-con-list .txt-wrap {
  /* height: 21.5rem; */
  margin-top: 3rem;
}

.ad-con-list .txt-wrap dl dt {
  min-height: 9rem;
  font-weight: 500;
  font-size: 3rem;
  transition: 0.4s;
}

.ad-con-list .txt-wrap dl dd {
  min-height: 5.1rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--text-color-b);
}

.ad-con-list .txt-wrap p {
  margin-top: 6.2rem;
  font-size: 1.4rem;
  color: var(--text-color-w);
}

.view-more.bottom {
  margin-bottom: 15rem;
}

.go-top {
  display: block;
  position: fixed;
  top: 70%;
  right: 80px;
  width: 7rem;
  height: 7rem;
  background: var(--main-color) url(../img/go-top.svg) no-repeat 50%;
  border-radius: 50%;
  box-shadow: 0px 16px 22px rgba(0, 0, 0, 0.2);
}

/* 서브-마켓 */

.market-title {
  display: flex;
  margin-top: 15.3rem;
  justify-content: space-between;
}

.book-menu-list {
  position: relative;
}

.book-menu-list a {
  display: block;
}

.title-txt {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.book-menu-list .all {
  width: 12.5rem;
  height: 4.4rem;
  /* border: 1px solid var(--boder-color-w);
  border-radius: 4px 4px 0 0; */
  padding: 0 1.7rem;
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  color: var(--text-color-b);
  display: flex;
  /* align-items: center; */
  gap: 1.8rem;
}

.book-menu-list .all::after {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  /* border: 1px solid #000; */
  background: url(../img/sub-select-s.svg) no-repeat 50%;
}

/* .menu-list-bottom {
  border: solid var(--boder-color-w);
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 4px 4px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 44px;
  display: none;
}

.menu-list-bottom .select-on {
  background: var(--main-color);
  color: #fff;
}

.menu-list-bottom a {
  display: block;
  width: 12.3rem;
  height: 4.4rem;
  
  font-size: 2.3rem;
  color: var(--text-color-b);
  line-height: 4.4rem;
  padding: 0 1.7rem;
} */

.select-list-highp {
  position: relative;
}

.select-list-highp .highp {
  display: flex;
  align-items: center;
  width: 21.1rem;
  height: 6.2rem;
  border: 1px solid var(--text-color-w);
  border-radius: 4px;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--filter-text-color);
  padding: 0 2.5rem;
  justify-content: space-between;
}

.select-list-highp .highp::after {
  content: "";
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  /* border: 1px solid #000; */
  background: url(../img/sub-select-b.svg) no-repeat 50%;
}

/* .select-list-bottom {
  border: 1px solid var(--text-color-w);
  border-radius: 0 0 4px 4px;
  border-width: 0 1px 1px 1px;
  position: absolute;
  top: 6.2rem;
  right: 0;
  display: none;
}

.select-list-bottom a {
  display: flex;
  align-items: center;
  width: 20.9rem;
  height: 6.2rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--filter-text-color);
  padding: 0 2.5rem;
  justify-content: space-between;
}

.select-list-bottom .select-on {
  background: var(--main-color);
  color: #fff;
} */

.book-con {
  margin-top: 17.9rem;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 19rem;
}

.book-list li {
  width: 45rem;
  /* width: 31.9149%; */
}

.book-list li a figure {
  width: 100%;
}

.book-list li a figure img {
  width: 100%;
  object-fit: cover;
}

.text-box {
  margin-top: 3.3rem;
}

.text-box p {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--main-color);
}

.text-box h3 {
  font-size: 3rem;
  font-weight: 500;
  transition: 0.4s;
  margin-top: 0.3rem;
}

.book-list li:hover .text-box h3 {
  font-weight: 700;
  transition: 0.4s;
}

.book-list li:hover .text-box strong {
  color: #000;
}

.text-box strong {
  transition: 0.4s;
  margin-top: 1.7rem;
}

.text-box strong {
  font-size: 3rem;
  font-weight: 700;
}

.market-btn-wrap {
  margin-top: 3.7rem;
}

.market-btn-wrap button {
  width: 13.5rem;
  /* width: 30%; */
  height: 5rem;
  border: 1px solid var(--text-color-b);
  border-radius: 11px;
  color: var(--text-color-b);
  background: #fff;
  font-weight: 500;
  font-size: 2.1rem;
}

.market-btn-wrap .buy {
  color: #fff;
  background: var(--main-color);
  border: 0px solid #000;
  margin-left: 1.5rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18rem 0 23rem;
  gap: 3.3rem;
}

.pagination a {
  display: flex;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  align-items: center;
  justify-content: center;
}

.page-num {
  display: flex;
  gap: 2.1rem;
  font-size: 2.2rem;
  font-weight: 500;
}

.page-num .page-3 {
  display: none;
}

.page-num .page-1,
.page-num .page-2,
.page-num .page-3 {
  border: none;
}

.page-num .page-1 {
  background: var(--main-color);
  color: #fff;
  font-weight: 700;
  /* border: none; */
}

/* 서브-서비스 소개---------------------------------------------------- */
.about {
  margin-top: 24rem;
}

.title-wrap {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.about-title {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.about-title h2 {
  font-size: 5.2rem;
  font-weight: 700;
  max-width: 59rem;
  /* background: #ff0000; */
}

.about-title p {
  font-size: 2.6rem;
  color: #555;
  max-width: 90rem;
}
.about-title p + p {
  margin-top: 3rem;
}

.title-wrap figure {
  max-width: 141rem;
  width: 100%;
}

.title-wrap img {
  width: 100%;
  height: auto;
}

/* 서비스 소개- 동네서점지도 */

.sub-link {
  margin-top: 20rem;
  display: flex;
  gap: 4.3rem;
  justify-content: center;
}
.sub-link a {
  font-size: 2.5rem;
  font-weight: 700;
}

.map-intro {
  margin-top: 26rem;
}

.intro-list {
  display: flex;
  flex-direction: column;
  gap: 28rem;
}

.br-mobile {
  display: none;
}

.map-item-1 {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  text-align: center;
}

.map-item-1 figure {
  margin-top: 6rem;
  max-width: 70rem;
  margin: 0 auto;
}

.intro-list p {
  font-size: 2.4rem;
  color: #555;
}

.map-intro-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.map-theme-wrap {
  display: flex;
}

.map-theme-wrap ul {
  display: flex;
  animation: flowAni 80s linear infinite;
  /* background: #e87070; */
}

.map-theme-wrap ul li {
  width: 34vw;
  margin-right: 1%;
}

.map-theme-wrap ul li figure {
  width: 100%;
  height: auto;
}

@keyframes flowAni {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.map-item-2 {
  display: flex;
  gap: 9%;
  /* justify-content: space-between; */
}

.map-item-2 .map-intro-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2% 0 0 7%;

  /* max-width: 49rem; */
}
.map-item-2 .map-intro-wrap h3 {
  max-width: 39.8rem;
}
.map-item-2 .map-intro-wrap p {
  max-width: 50rem;
}

.tag-wrap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  padding-right: 4%;
}

.tag-blur.blur-left {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 30%,
    rgba(255, 255, 255, 0.6) 55%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 30%;
  height: 100%;
}

.tag-blur.blur-right {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 30%,
    rgba(255, 255, 255, 0.6) 55%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 30%;
  height: 100%;
}

.tag-wrap figure {
  max-width: 40vw;
}

.tag-wrap figure img {
  width: 100%;
  height: auto;
}

/* .tag-wrap ul {
  display: flex;
  gap: 2rem;
}

.tag-wrap .left-hook {
  margin-left: 4rem;
}

.tag-wrap p {
  font-size: 3.2rem;
  font-weight: 500;
  color: #333;
  padding: 1rem;
}

.tag-wrap ul li {
  border: 1px solid #efefef;
  border-radius: 10px;
}

.tag-wrap ul li.on {
  background: var(--main-color);
  border-color: var(--main-color);
}

.tag-wrap ul li.on p {
  color: #fff;
} */

.map-item-3 {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.map-item-3 .map-intro-wrap {
  text-align: center;
}

.theme-img {
  max-width: 141rem;
  width: 100%;
}

.theme-img img {
  width: 100%;
  height: auto;
}

.map-item-4 {
  text-align: center;
}

.map-item-4 p {
  margin: 0 auto;
  max-width: 73rem;
  /* background: #f00; */
}

.alarm-intro .intro-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31.2rem;
  height: 8.1rem;
  background: var(--main-color);
  border-radius: 40px;
  font-size: 2.7rem;
  color: #fff;
  transition: 0.4s;
  font-weight: 700;
  margin: 24rem auto 35rem;
}

.map-intro .intro-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.4rem;
  height: 7rem;
  background: var(--main-color);
  border-radius: 40px;
  font-size: 2.7rem;
  color: #fff;
  transition: 0.4s;
  font-weight: 700;
  margin: 10rem auto 25rem;
}

.intro-btn:hover {
  background: var(--main-color-dark);
  color: #fff;
}

/* 서비스 소개-신간알림 */

.alarm-intro {
  margin-top: 22rem;
}

.new-intro {
  display: flex;
  flex-direction: column;
  gap: 26rem;
}

.new-item-1 {
  /* margin-top: 27rem; */
  display: flex;
  flex-direction: column;
  gap: 14rem;
}

.new-intro-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

.new-intro-wrap h3 {
  font-weight: 600;
  font-size: 6rem;
}

.new-intro-wrap p {
  color: #555;
  font-size: 3.5rem;
}

.new-item-1 p {
  max-width: 118.5rem;
}

.new-item-1 figure {
  margin: 0 auto;
  max-width: 90rem;
  width: 100%;
}

.new-item-1 figure img {
  width: 100%;
  height: auto;
}

.new-intro-wrap p {
  margin: 0 auto;
}

.new-item-2 {
  background: linear-gradient(to bottom, #fff, #f1f2ea, #e8eada, #dee2c7);
  padding: 15rem 0 22rem 0;
}

.item-title {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.item-title h3 {
  font-size: 6rem;
  font-weight: 700;
}

.item-title p {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--main-color);
}

.item-wrap {
  margin-top: 25rem;
  display: flex;
  flex-direction: column;
  gap: 21.5rem;
}

.item-con {
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
}

.item-con .img-wrap {
  display: flex;
}

.text-wrap h4 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #222;
}

.text-wrap p {
  font-size: 3rem;
  color: #555;

  margin-top: 1.5rem;
}

.sns p {
  max-width: 69rem;
}

.sns .img-wrap {
  width: 100%;
  max-width: 120rem;
}

.item-con .img-wrap {
  gap: 0.5%;
}

.img-wrap figure {
  width: 100%;
}

.img-wrap figure p {
  width: 100%;
  height: auto;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

.home .img-wrap img {
  border: 0.5px solid rgba(234, 234, 234, 0.5);
}

.home .text-wrap p {
  max-width: 89rem;
}

/* .item-con .img-wrap {
  width: 100%;
  max-width: 120rem;
} */

.books p {
  max-width: 65rem;
}

.p-wrap {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.note {
  width: 100%;
  width: 70.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: end;
  text-align: right;
}

.note img {
  /* aspect-ratio: 1/1; */
  object-fit: cover;
}

.p-wrap p {
  font-size: 1.8rem;
  color: #888;
}

.review-wrap {
  margin-top: 10rem;
  margin-left: 5%;
  display: flex;
}

.review-wrap ul {
  display: flex;
  gap: 9rem;
}

.review-wrap .swiper-slide {
  width: 69rem;
  /* min-height: 40.8rem; */
  height: 42rem;
  border: 2px solid var(--main-color);
  padding: 6rem;
}

.agent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.agent strong {
  font-weight: 700;
  font-size: 3rem;
  color: #333;
}

.agent p {
  font-weight: 600;
  font-size: 2.5rem;
  color: #888;
}

.agent + p {
  margin-top: 3rem;
  font-size: 3rem;
  color: #333;
  height: 18rem;
  /* text-align: center; */
  /* 4줄 넘어가면 ... 표기 */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 보여줄 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 서브-동네서점지도--------------------------------------------- */

.find-map {
  margin: 5rem 0 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more-store.hidden-more {
  display: none;
}

.fit-store {
  flex: 0 0 45%;
  overflow-y: auto;
  /* padding: 3rem 3rem 0 4rem; */
  height: 100vh;
  position: relative;
}

.fit-store .inner {
  /* width: 57.6rem; */
  width: 100%;
  padding: 3rem 3rem 0 3rem;
  /* background: #f1fded; */
}

.fit-store h3 {
  font-size: 4rem;
}

.store-search {
  margin-top: 5rem;
}

.tools .search {
  margin: 0;
}

.tools .search-wrap {
  width: 100%;
}

.filter {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.location {
  display: flex;
  gap: 1rem;
  padding: 1rem 0 1rem;
}

.location .icon {
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(../img/find-loc-icon.svg) no-repeat 50%;
}

.location .text {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
}

.filter-btns {
  display: flex;
  gap: 2%;
}

.filter-btns .text {
  font-weight: 500;
  font-size: 2rem;
  color: #333;
}

.filter-btns .btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  height: 5rem;
  border: 1px solid #8c8c8c;
  border-radius: 40px;
  /* padding: 1rem 2rem; */
}

.btn-hob {
  width: 16.5rem;
}
.filter-btns .btn-area {
  width: 11.2rem;
  padding: 0;
}

.btn-hob .icon {
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(../img/find-hob-icon.svg) no-repeat 50%;
}

.btn-area .icon {
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(../img/find-area-icon.svg) no-repeat 50%;
}

.btn-hob.on {
  background: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn-hob.on .text {
  color: #fff;
}

.btn-hob.on .icon {
  background: url(../img/find-hob-icon-on.svg) no-repeat 50%;
}

.results {
  height: 100%;
  margin-top: 7rem;
}

.results-top {
  font-size: 1.6rem;
  color: #666;
}

.results-bottom {
  margin-top: 3rem;
}

.re-wrap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.re-wrap li a {
  display: flex;
  gap: 2rem;
  align-items: start;
}

.re-wrap li figure {
  width: 12rem;
  height: 12rem;
}

.re-wrap li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.store-info-wrap dl dt {
  font-weight: 500;
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.re-wrap li a:hover .store-info-wrap dl dt {
  color: #000;
}

.store-type {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--main-color);
}

.store-info-wrap dd {
  font-size: 1.8rem;
  color: #555;
}

.store-info-wrap dd + dd {
  display: block;
  margin-top: 0.5rem;
}

.store-open {
  margin-left: 1.5rem;
}

.g-map {
  flex: 0 0 55%;
  height: 100vh;
}
.g-map figure {
  width: 100%;
  height: 100%;
}

.g-map figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.63);
  z-index: 100;
}

.store-filter {
  position: fixed;
  bottom: 0;
  left: -100%;
  background: #fff;
  width: 35%;
  height: 100%;
  padding: 8rem 5rem;
  overflow-y: auto;
  z-index: 110;
}

.filter-title {
  font-size: 3rem;
  font-weight: 600;
}

.close-btn {
  display: block;
  width: 3.3rem;
  height: 3.3rem;
  background: url(../img/sub-close-btn.svg) no-repeat 50%;
}

.top-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin: 5rem 0rem;
}

.menu li .menu-item {
  padding: 3rem 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-title {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu-title .name {
  font-size: 2.4rem;
  font-weight: 500;
  color: #222;
}

.menu-title .count {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--main-color);
}

.spread-btn {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/sub-fold-btn.svg) no-repeat 50%;
}

.reset {
  font-size: 2.2rem;
  font-weight: 700;
  color: #555;
  display: flex;
  gap: 1rem;
}

.re-icon {
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(../img/sub-reset-icon.svg) no-repeat 50%;
}

.bottom-con {
  position: fixed;
  left: -100%;
  bottom: 0;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 5rem 2.7rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 20%
  );
  /* background: #fff00f; */
}

.filter-apply {
  width: 65%;
  height: 6.5rem;
  border-radius: 40px;
  background: var(--main-color);
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.sub-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1.5rem;
}

.sub-menu li {
  font-size: 1.9rem;
  font-weight: 600;
  color: #333;
  padding: 1rem;
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 10px;
}

.sub-menu li.on {
  color: #fff;
  background: var(--main-color);
  border: 1px solid var(--main-color);
}

.store-info {
  position: absolute;
  left: -100%;
  top: 0;
  /* transform: translateX(-100%); */
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 3rem 3rem 5rem;
  overflow-y: auto;
  transition: transform 0.35s ease;
  background: #fff;
  z-index: 10;
}

/* .padding-area {
  padding-left: 4rem;
} */

.name-flex {
  display: flex;
  align-items: center;
  margin-right: 3.5rem;
}

.back-icon {
  width: 3.5rem;
  height: 3.5rem;
  background: url(../img/back.svg) no-repeat 50%;
}

.store-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
}

.store-name {
  font-size: 3.5rem;
  font-weight: 600;
  color: #111;
}

.type-info {
  font-size: 1.9rem;
  font-weight: 600;
  color: var(--main-color);
}

.store-img {
  margin-top: 3.5rem;
}

.store-img figure {
  width: 100%;
  max-width: 57.6rem;
  height: auto;
}

.store-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.info-list dl dt {
  font-size: 1.9rem;
  font-weight: 600;
  color: #111;
}
.info-list dl dd {
  max-width: 57rem;
  margin-top: 0.5rem;
  font-size: 1.9rem;
  color: #555;
}

.address-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.address-wrap button {
  font-weight: 500;
  font-size: 2rem;
  max-width: 45rem;
  height: 5rem;
  border: 1px solid #d8d8d8;
  border-radius: 30px;
  color: #333;
  transition: 0.4s;
}

.address-wrap button:hover {
  background: #4f581c;
  color: #fff;
}

.info-list li:nth-child(7) dl dd,
.info-list li:nth-child(8) dl dd,
.info-list li:nth-child(9) dl dd {
  color: var(--main-color);
}

.back-list {
  width: 100%;
  max-width: 66rem;
  height: 6.3rem;
  /* border: 1px solid #d8d8d8; */
  background: #f6f6f6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin: 7rem auto 1rem;
}

.back-text {
  font-size: 2.1rem;
  color: #333;
}

.back-list-ico {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background: url(../img/back-list.svg) no-repeat 50%;
}

/* 테마지도 */

.update-theme {
  margin-top: 16rem;
}

.update-slider {
  padding: 4rem 0 6rem;
  margin-left: calc(
    (100% - 1410px) / 2
  ); /* 화면 전체 - inner폭 → 가운데 여백 계산 */
}

.update-item {
  width: 50%;
  max-width: 81rem;
}

.update-item a:hover {
  color: inherit;
}

.update-item figure img {
  width: 100%;
  height: auto;
}

.about-update {
  margin-top: 3rem;
  max-width: 81rem;
  /* padding: 0 1rem; */
}
.about-update strong {
  font-weight: 500;
  font-size: 3rem;
}
.about-update p {
  font-size: 2.3rem;
  margin-top: 1.2rem;
  color: #666;
  padding-right: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  bottom: 0;
  top: auto;
  height: 5px;
}

.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.1));
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--main-color);
}

.theme-map {
  margin-top: 26rem;
}

.theme-map-wrap {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
  row-gap: 7rem;
}

.theme-map-item a:hover {
  color: inherit;
}

.theme-map-item img {
  width: 100%;
  height: auto;
}

.about-theme {
  width: 100%;
  padding-top: 2rem;
}

.about-theme strong {
  font-weight: 500;
  font-size: 2.6rem;
}

.about-theme p {
  padding: 1rem 1rem 0 0;
  font-size: 2.1rem;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.theme-more {
  margin-bottom: 26rem;
}

.theme-map-item {
  opacity: 1; /* 최종 상태 */
  transform: translateY(0); /* 최종 상태 */
  transition: opacity 0.4s ease, transform 0.4s ease; /* transition 정의 */
}

.theme-map-item.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none; /* 숨길 때 클릭 방지 */
}

.theme-map-item.wait {
  opacity: 0;
  transform: translateY(20px);
}

.theme-list {
  margin-bottom: 15rem;
}

.inner {
  /* background: #c2c2c2; */
}

/* 반응형------------------------------------------------------------ */

@media (max-width: 1500px) {
  .inner {
    width: 95%;
  }

  .update-slider {
    margin-left: calc((100% - 95%) / 2);
  }

  .map-item-1 figure {
    max-width: 67rem;
  }
  /* .map-theme-wrap ul li {
    width: 36vw;
  } */
}

@media (max-width: 1410px) {
  .sub-new-alarm .inner,
  .sub-semi-ad .inner,
  .sub-ad .inner {
    width: 96.4rem;
    width: 94.1406%;
  }

  .con-info .con-info-wrap dl dt {
    font-size: 3.8rem;
  }

  .con-info .con-info-wrap dl dd {
    font-size: 2rem;
  }

  .con-info .con-info-wrap p {
    font-size: 1.4rem;
  }

  .con-txt .txt-wrap dl dt {
    font-size: 4.2rem;
  }

  .con-txt .txt-wrap dl dd {
    font-size: 2.2rem;
  }

  .map-theme-wrap ul li {
    width: 37vw;
  }

  .map-item-1 figure {
    max-width: 62rem;
  }
}

/* 태블릿 디자인 */
@media (max-width: 1180px) {
  /*!new-alarm */
  .inner {
    width: 96.4rem;
    width: 94.1406%;
  }

  .logo a {
    background-image: url(../img/t-sub-logo.svg);
  }

  .btn-menu {
    background-image: url(../img/t-sub-ico-menu.svg);
  }

  .search-wrap {
    width: 61.5rem;
    /* width: 60.0586%; */
  }

  .alarm-con li {
    display: block;
    margin-top: 18rem;
  }

  .alarm-con li figure {
    width: 96.4rem;
    width: 100%;
  }

  .con-info {
    width: 96.4rem;
    width: 100%;
    padding: 0;
    margin-top: 4.5rem;
    text-align: center;
  }

  .alarm-con ul li:nth-child(even) .con-info {
    text-align: center;
  }

  /* semi-ad */

  .semi-ad-con {
    margin-left: 6.4rem;
  }

  .con-txt {
    width: 35.4rem;
    width: 39.3342%;
  }

  .semi-ad-con .con-txt .txt-wrap dl dt {
    font-size: 3.3rem;
  }

  .semi-ad-con .con-txt .txt-wrap dl dd {
    font-size: 1.7rem;
    margin-top: 1.3rem;
  }

  .semi-ad-con figure {
    width: 54.6rem;
    width: 60.668%;
  }

  .sub-semi-ad {
    margin-top: 16rem;
  }

  /* sub-plus button */

  .plus {
    font-size: 2.2rem;
  }

  .plus::after {
    width: 3.3rem;
    height: 3.3rem;
    background-image: url(../img/t-sub-plus.svg);
  }

  .view-more {
    margin-top: 10.6rem;
  }

  /*sub-ad */

  .sub-ad {
    margin-top: 16rem;
  }
  .ad-con-list li {
    width: 46.6rem;
    width: 48.3402%;
  }

  .ad-con-list {
    row-gap: 13rem;
  }

  .view-more.bottom {
    margin-bottom: 21rem;
  }

  /*!market */
  .pagination .page-num .page-3 {
    display: flex;
  }

  /* intro-map---------------------------------------- */
  .about {
    margin-top: 19rem;
  }

  .map-intro {
    margin-top: 21rem;
  }

  h3 {
    font-weight: 700;
    font-size: 3.4rem;
  }

  .intro-list p {
    font-size: 1.8rem;
  }

  .map-intro-wrap {
    gap: 1.4rem;
  }

  .map-item-1 {
    gap: 5rem;
  }
  .map-item-1 figure {
    max-width: 54rem;
  }

  .map-theme-wrap ul li {
    width: 40vw;
  }

  .intro-list {
    gap: 22rem;
  }

  .map-item-2 .map-intro-wrap h3 {
    max-width: 28rem;
  }

  .map-item-3 {
    gap: 6rem;
  }

  .map-item-4 p {
    max-width: 55rem;
  }

  .map-intro .intro-btn {
    margin: 9rem auto 21rem;
    font-size: 2.2rem;
    width: 27.1rem;
    height: 6.2rem;
  }

  .tag-wrap {
    padding-top: 1%;
  }

  /* intro-alarm--------------------------------------*/
  .title-wrap {
    gap: 5rem;
  }

  .about-title {
    gap: 4rem;
  }

  .about-title h2 {
    font-size: 4rem;
    max-width: 45.4rem;
  }

  .about-title p {
    font-size: 2.1rem;
  }

  .about-title p + p {
    margin-top: 2.4rem;
  }

  .sub-link {
    margin-top: 18rem;
    gap: 3.5rem;
  }

  .sub-link a {
    font-size: 2.2rem;
  }

  .alarm-intro {
    margin-top: 17rem;
  }

  .new-intro {
    gap: 20rem;
  }

  .new-intro-wrap {
    gap: 2rem;
  }

  .new-intro h3 {
    font-weight: 600;
    font-size: 5rem;
  }

  .new-intro-wrap p {
    font-size: 2.7rem;
    max-width: 81rem;
  }

  .new-item-1 {
    gap: 12rem;
  }

  .new-item-2 {
    padding: 11rem 0 13rem 0;
  }

  .item-title {
    gap: 1rem;
  }
  .item-title p {
    font-size: 3rem;
  }
  .item-wrap {
    margin-top: 14rem;
    gap: 14rem;
  }
  .text-wrap h4 {
    font-size: 3.2rem;
  }

  .text-wrap p {
    font-size: 2.7rem;
    margin-top: 1rem;
  }
  .sns p {
    max-width: 60rem;
  }

  .item-con {
    gap: 6.5rem;
  }

  .home .text-wrap p {
    max-width: 80rem;
  }

  .books p {
    max-width: 52rem;
  }

  .review-wrap {
    margin-top: 8rem;
  }

  .review-wrap ul {
    gap: 6rem;
  }

  .review-wrap .swiper-slide {
    width: 59rem;
    height: 36rem;
    padding: 5rem;
  }

  .agent strong {
    font-size: 2.5rem;
  }

  .agent p {
    font-size: 2.2rem;
  }

  .agent + p {
    font-size: 2.5rem;
    height: 15.2rem;
  }

  .intro-btn {
    margin: 21rem auto 32rem;
  }

  /* dongne-map----------------------------------------- */
  .fit-store {
    height: 100%;
    overflow: hidden;
  }

  .fit-store h3 {
    font-size: 3.7rem;
  }

  .find-map {
    display: block;
  }

  .more-store {
    opacity: 1;
    display: flex;
    gap: 0.8rem;
    margin: 8rem auto 0;
    align-items: center;
    justify-content: space-between;
  }

  .plus-text {
    font-size: 2.3rem;
    color: var(--main-color);
  }

  .store-plus {
    width: 3.6rem;
    height: 3.6rem;
    background: url(../img/store-plus-t.svg) no-repeat 50%;
  }

  .g-map {
    margin-top: 8rem;
    height: 100%;
    max-height: 60rem;
  }

  .find-map {
    margin: 5rem 0 0 0;
  }

  /* .re-wrap > li {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .re-wrap > li.hidden {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
  }

  
  .re-wrap > li.wait {
    opacity: 0;
    transform: translateY(10px);
  } */

  .re-wrap > li {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  /* 숨김 상태 */
  .re-wrap > li.hidden {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 떠오르는 효과 */
    display: list-item; /* display:none 대신 list-item 유지 */
  }

  .store-info {
    position: fixed; /* 또는 absolute */
    top: 9.9rem !important;
    right: 0;
    padding-bottom: 15rem;
    height: 100vh; /* 화면 전체 높이 */
    overflow-y: auto; /* 내부 스크롤 */
    z-index: 10; /* 다른 요소 위로 */
  }

  .store-filter {
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 70%;
  }

  .bottom-con {
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
  }

  /* 테마지도 */

  .update-theme {
    margin-top: 12rem;
  }

  .update-item {
    width: 70%;
    max-width: 67rem;
  }

  .update-theme h2 {
    font-size: 3.8rem;
  }

  .update-slider {
    padding: 3rem 0 5rem;
  }

  .about-update {
    margin-top: 2.5rem;
  }
  .about-update strong {
    font-size: 2.3rem;
  }

  .about-update p {
    font-size: 2rem;
    margin-top: 0.8rem;
  }

  .theme-map {
    margin-top: 16rem;
  }

  .theme-map h2 {
    font-size: 3.8rem;
  }

  .theme-map-wrap {
    padding: 3rem 0 13rem;
  }

  .about-theme strong {
    font-size: 2.2rem;
  }

  .about-theme p {
    padding: 0.7rem 1rem 0 0;
    font-size: 1.8rem;
  }
}

@media (max-width: 938px) {
  .alarm-con li {
    margin-top: 14rem;
  }

  .view-more {
    margin-top: 9.5rem;
  }

  .sub-semi-ad {
    margin-top: 13rem;
  }

  .semi-ad-con .con-txt .txt-wrap dl dt {
    font-size: 2.9rem;
  }

  .con-txt .txt-wrap dl dd p {
    display: none;
  }

  .txt-wrap strong {
    display: block;
    font-size: 1.9rem;
  }

  .search-wrap {
    width: 60rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  .sub-ad {
    margin-top: 15.3rem;
  }

  .ad-con-list {
    row-gap: 9rem;
  }

  .ad-con-list .txt-wrap dl {
    min-height: 11.9rem;
  }

  .ad-con-list .txt-wrap dl dt {
    min-height: auto;
    font-size: 2.8rem;
  }

  .ad-con-list .txt-wrap dl dd {
    min-height: auto;
    margin-top: 0.5rem;
  }

  .ad-con-list .txt-wrap p {
    margin-top: 3rem;
    font-size: 1.3rem;
  }

  /* .map-theme-wrap ul li {
    width: 42vw;
  } */

  /* .tag-wrap figure {
    max-width: 44vw;
  } */
}

@media (max-width: 850px) {
  /* intro-alarm */

  .inner {
    width: 80.056px;
    width: 94.1835%;
  }

  .about {
    margin-top: 18rem;
  }

  .about-title h2 {
    font-size: 4.3rem;
    max-width: 49rem;
  }
  .about-title p {
    font-size: 2.3rem;
  }

  .title-wrap {
    gap: 4.2rem;
  }

  .about-title {
    gap: 3.4rem;
  }

  .about-title p + p {
    margin-top: 2rem;
  }

  .sub-link {
    margin-top: 18rem;
  }

  .alarm-intro {
    margin-top: 14rem;
  }

  .sub-link a {
    font-size: 1.9rem;
  }

  .new-intro h3 {
    font-size: 4.3rem;
  }

  .new-intro-wrap p {
    font-size: 2.3rem;
    max-width: 68.8rem;
  }

  .new-item-1 {
    gap: 7rem;
  }

  .new-item-1 figure {
    max-width: 65rem;
  }

  .new-intro {
    gap: 16rem;
  }

  .new-item-2 {
    padding: 7rem 0 10rem 0;
  }

  .item-title p {
    font-size: 2.6rem;
  }

  .item-title {
    gap: 0.8rem;
  }

  .item-wrap {
    margin-top: 11rem;
    gap: 12rem;
  }

  .text-wrap h4 {
    font-size: 2.7rem;
  }

  .sns p {
    max-width: 50rem;
  }

  .text-wrap p {
    font-size: 2.2rem;
    margin-top: 1rem;
  }

  .item-con {
    gap: 4.5rem;
  }

  .new-intro-wrap {
    gap: 1.8rem;
  }

  .home .text-wrap p {
    max-width: 64rem;
  }
  .books p {
    max-width: 42rem;
  }

  .p-wrap p {
    font-size: 1.5rem;
  }
  .note {
    gap: 1.2rem;
  }

  .review-wrap .swiper-slide {
    width: 50rem;
    height: 28rem;
    padding: 4rem;
  }

  .agent {
    gap: 0.5rem;
  }
  .agent strong {
    font-size: 2rem;
  }
  .agent p {
    font-size: 1.7rem;
  }
  .agent + p {
    margin-top: 2rem;
    font-size: 2rem;
    height: 12rem;
  }
  .review-wrap {
    margin-top: 7rem;
  }

  .review-wrap ul {
    gap: 3.5rem;
  }

  .alarm-intro .intro-btn {
    width: 30rem;
    height: 7rem;
    font-size: 2.2rem;
    margin: 17rem auto 24rem;
  }

  /* intro-map ----------------------*/
  .about-title h2 {
    font-size: 3.4rem;
    max-width: 38.6rem;
  }

  .about-title p {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  .intro-list p {
    font-size: 1.6rem;
  }

  .map-intro-wrap {
    gap: 1.4rem;
  }

  .map-item-2 .map-intro-wrap h3 {
    max-width: 24.1rem;
  }

  .map-item-2 .map-intro-wrap {
    gap: 1.4rem;
  }

  .map-item-4 p {
    max-width: 48.5rem;
  }

  .map-intro .intro-btn {
    margin: 9rem auto 21rem;
    font-size: 2rem;
    width: 25rem;
    height: 5.7rem;
  }

  .sub-link {
    margin-top: 14rem;
  }

  .map-intro {
    margin-top: 18rem;
  }

  .intro-list {
    gap: 20rem;
  }
  .tag-wrap {
    padding-top: 3%;
  }

  .map-theme-wrap ul li {
    width: 38vw;
    margin-right: 1%;
  }
}

@media (max-width: 832px) {
  h2 {
    font-size: 4.1rem;
  }

  .semi-ad-con .con-txt .txt-wrap dl dt {
    font-size: 2.7rem;
  }

  .semi-ad-con .con-txt .txt-wrap dl dd {
    font-size: 1.3rem;
  }

  .txt-wrap strong {
    display: block;
    font-size: 1.6rem;
  }

  .ad-con-list .txt-wrap dl {
    min-height: 11.9rem;
  }

  .ad-con-list .txt-wrap dl dt {
    min-height: auto;
    font-size: 2.6rem;
  }

  .ad-con-list .txt-wrap dl dd {
    min-height: auto;
    margin-top: 0.5rem;
    font-size: 1.8rem;
  }

  .ad-con-list .txt-wrap p {
    margin-top: 3rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 732px) {
  .sub-new-alarm {
    margin-top: 11rem;
  }

  .alarm-con li {
    margin-top: 12rem;
  }

  .con-info {
    margin-top: 3.5rem;
  }

  .con-info .con-info-wrap dl dt {
    font-size: 3.6rem;
  }

  .con-info .con-info-wrap dl dd {
    font-size: 1.9rem;
  }

  .alarm-con li figure {
    height: 36rem;
  }

  .semi-ad-con .con-txt .txt-wrap dl dt {
    font-size: 2.3rem;
  }

  .semi-ad-con .con-txt .txt-wrap dl dd {
    font-size: 1rem;
  }

  .txt-wrap strong {
    display: block;
    font-size: 1.3rem;
  }

  .search-wrap {
    width: 50rem;
  }
}

/* 모바일 디자인 */

@media (max-width: 660px) {
  .map-item-2 {
    gap: 0;
  }
}
@media (max-width: 600px) {
  .inner {
    width: 35rem;
    width: 89.7436%;
  }

  .logo a {
    background-image: url(../img/m-sub-logo.svg);
  }

  .btn-search {
    background-image: url(../img/m-sub-ico-search.svg);
  }

  .btn-login {
    background-image: url(../img/m-sub-ico-login.svg);
  }

  .btn-menu {
    background: url(../img/sub-ico-menu.svg) no-repeat 0 0/ 80%;
  }

  .sub-link {
    gap: 3rem;
  }

  .search {
    margin-top: 3.4rem;
  }

  .search-wrap {
    width: 35rem;
    /* width: 89.7436%; */
    height: 5rem;
  }

  .search-wrap input {
    font-size: 1.4rem;
    padding: 0 1.7rem;
  }

  .search-wrap button {
    width: 6rem;
    height: 5rem;
    background-image: url(../img/m-form-search.svg);
  }

  /* sub-new-alarm----------------------------------------------------- */

  .sub-new-alarm h2 {
    font-size: 3.3rem;
  }

  .sub-new-alarm {
    margin-top: 8.5rem;
  }

  .alarm-con li:first-child {
    margin-top: 2rem;
  }

  .alarm-con li figure {
    width: 35rem;
    width: 100%;
    height: 25rem;
  }

  .con-info {
    width: 35rem;
    width: 100%;
    margin-top: 2.2rem;
    text-align: center;
  }

  .alarm-con .con-info .con-info-wrap dl dt {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .alarm-con .con-info .con-info-wrap dl dd {
    font-size: 1.5rem;
    margin-top: 0.9rem;
  }

  .alarm-con .con-info .con-info-wrap p {
    font-size: 1.2rem;
    margin-top: 2.5rem;
  }

  .alarm-con li {
    margin-top: 8.5rem;
  }

  .alarm-con ul li:nth-child(even) .con-info {
    text-align: center;
  }

  .sub-new-alarm .alarm-con li figure {
    height: 29rem;
  }

  .alarm-con ul .li-4 {
    display: block;
  }

  /* plus */

  .plus {
    font-size: 1.5rem;
  }

  .view-more {
    margin-top: 7.3rem;
  }

  .plus::after {
    width: 1.9rem;
    height: 1.9rem;
    background-image: url(../img/m-sub-plus.svg);
  }

  /* sub-semi-ad */
  .sub-semi-ad {
    margin-top: 8.9rem;
  }

  .semi-ad-con {
    margin-left: 0.8rem;
  }

  .con-txt {
    width: 15rem;
    width: 43.8596%;
  }

  .semi-ad-con a {
    height: 100%;
  }

  .semi-ad-con .con-txt .txt-wrap dl dt {
    font-size: 2.3rem;
  }

  .con-txt .txt-wrap dl dd p {
    display: none;
  }

  .txt-wrap strong {
    display: block;
    font-size: 1.5rem;
  }

  .semi-ad-con figure {
    width: 19.2rem;
    width: 56.1404%;
    height: 100%;
  }

  /*sub-ad */

  #container .sub-ad {
    margin: 10rem 0 10.7rem;
  }

  .ad-con-list {
    margin-top: 2rem;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 2rem;
  }

  .ad-con-list li {
    width: 28.3rem;
    width: 80.8571%;
  }

  .ad-con-list li a {
    display: block;
    width: 28.3rem;
  }

  .ad-con-list .txt-wrap {
    margin-top: 2.3rem;
  }

  .ad-con-list .txt-wrap dl {
    min-height: 8.6rem;
  }

  .ad-con-list .txt-wrap dl dt {
    /* min-height: 5.7rem; */
    min-height: auto;
    font-weight: 600;
    font-size: 1.9rem;
  }

  .ad-con-list .txt-wrap dl dd {
    /* min-height: 5.2rem; */
    min-height: auto;
    margin-top: 0.5rem;
    font-size: 1.6rem;
  }

  .ad-con-list .txt-wrap p {
    margin-top: 2.5rem;
    font-size: 1.3rem;
  }

  .view-more.bottom {
    display: none;
  }

  .go-top {
    width: 5rem;
    height: 5rem;
    background-image: url(../img/m-go-top.svg);
    right: 20px;
  }

  /* --------------------- */
  .title-txt .book-menu-list .all {
    width: 6.6rem;
    height: 2.6rem;
    font-size: 1.5rem;
    gap: 0.7rem;
    padding: 0 0.9rem;
  }

  .title-txt .book-menu-list .all::after {
    width: 1.1rem;
    height: 1.1rem;
    background: url(../img/m-sub-select.svg) no-repeat 50%;
  }

  .market-select-list .select-list-highp .highp {
    width: 13.1rem;
    height: 4.1rem;
    font-size: 1.5rem;
    gap: 1.8rem;
    padding: 1rem 1.5rem;
  }

  .market-select-list .select-list-highp .highp::after {
    width: 1.1rem;
    height: 1.1rem;
    background: url(../img/m-sub-select.svg) no-repeat 50%;
  }

  .sub-market .book-con {
    margin-top: 6.3rem;
  }

  .book-con .book-list {
    row-gap: 7rem;
  }

  .book-con .book-list li {
    width: 16.9rem;
  }

  .book-list .text-box {
    min-height: 8.8rem;
  }

  .book-list .text-box p {
    font-size: 1.2rem;
  }
  .book-list .text-box h3 {
    font-size: 1.4rem;
  }
  .book-list .text-box strong {
    font-size: 1.4rem;
  }

  .book-list li .market-btn-wrap {
    margin-top: 2.3rem;
  }

  .book-list .market-btn-wrap button {
    width: 6.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 6px;
  }

  .book-list .market-btn-wrap .buy {
    margin-left: 0.9rem;
  }

  .book-con .pagination {
    gap: 2.6rem;
    margin: 8rem 0 14.9rem 0;
  }

  .pagination .page-num {
    gap: 1.7rem;
  }

  .book-con .pagination a {
    width: 3.6rem;
    height: 3.6rem;
    font-size: 1.7rem;
  }

  /* intro-map--------------------------------- */

  h3 {
    font-size: 2.3rem;
  }

  .intro-list p {
    font-size: 1.4rem;
  }

  .map-item-1 {
    gap: 4rem;
  }

  .map-item-1 figure {
    max-width: 40rem;
  }

  .sub-link a {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
  }

  .sub-link a b::after {
    height: 0.14rem;
  }

  .sub-link a b {
    padding: 1.3rem 0;
  }

  .map-intro {
    margin-top: 14rem;
  }

  .intro-list {
    gap: 16rem;
  }

  .map-item-2 {
    flex-direction: column;
    gap: 4rem;
  }

  .map-item-2 .map-intro-wrap {
    gap: 2rem;
    padding: 0;
    align-items: center;
    text-align: center;
    /* max-width: 49rem; */
  }

  .map-item-2 .map-intro-wrap h3 {
    max-width: none;
  }

  .map-item-3 {
    gap: 4rem;
  }

  .map-item-2 .map-intro-wrap p {
    max-width: 28rem;
  }

  .map-item-2 .map-intro-wrap {
    gap: 1.4rem;
  }

  .tag-wrap {
    padding: 0;
    margin: 0 auto;
  }

  .tag-wrap figure {
    max-width: 60vw;
  }

  .tag-blur.blur-left,
  .tag-blur.blur-right {
    width: 10%;
  }

  .map-theme-wrap ul li {
    width: 50vw;
    margin-right: 1%;
  }
  .map-item-4 p {
    max-width: 42.4rem;
  }
  .map-intro .intro-btn {
    margin: 9rem auto 15rem;
    font-size: 1.8rem;
    width: 21.6rem;
    height: 5rem;
  }

  /* intro-alarm--------------------------------- */
  .about {
    margin-top: 16rem;
  }

  .about-title h2 {
    font-size: 2.5rem;
    max-width: 28.4rem;
  }

  .about-title p {
    font-size: 1.4rem;
  }

  .new-intro h3 {
    font-size: 3.3rem;
  }

  .new-intro-wrap p {
    font-size: 1.9rem;
  }

  .about-title {
    gap: 3rem;
  }

  .about-title p + p {
    margin-top: 2rem;
  }

  .title-wrap {
    gap: 4rem;
  }

  .sub-link {
    margin-top: 12rem;
  }

  .alarm-intro {
    margin-top: 11rem;
  }

  .new-item-1 {
    gap: 5rem;
  }

  .new-intro {
    gap: 11rem;
  }

  .item-title p {
    font-size: 2rem;
  }

  .new-intro-wrap {
    gap: 1.2rem;
  }

  .item-title {
    gap: 0.7rem;
  }

  .new-item-2 {
    padding: 8rem 0 9rem 0;
  }

  .item-wrap {
    margin-top: 10rem;
    gap: 10rem;
  }

  .text-wrap h4 {
    font-size: 2.2rem;
  }

  .text-wrap p {
    font-size: 1.9rem;
    margin-top: 0.7rem;
  }

  .sns p {
    max-width: 43rem;
  }

  .sns .img-wrap figure + figure + figure {
    display: none;
  }

  .img-wrap figure {
    max-width: 29rem;
  }

  .sns .img-wrap {
    position: relative;
  }

  .sns .img-wrap figure + figure {
    position: absolute;
    top: 11rem;
    right: 0;
  }

  .sns {
    margin-bottom: 11rem;
  }

  .item-con {
    gap: 4rem;
  }

  .home .img-wrap {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .home .img-wrap figure {
    flex: 0 0 auto;
    max-width: 24rem;
  }

  .home {
    align-items: start;
    text-align: left;
  }

  .home .text-wrap p {
    max-width: 43rem;
  }

  .books p {
    max-width: 42rem;
  }

  .item-wrap .cp {
    flex-direction: column;
    gap: 4rem;
  }

  .note {
    width: 100%;
    align-items: stretch;
  }
  .note figure {
    max-width: 53.845rem;
  }

  .note img {
    aspect-ratio: 1.8/1;
  }

  .p-wrap p {
    font-size: 1.3rem;
  }

  .review-wrap .swiper-slide {
    width: 47rem;
    height: 27rem;
    padding: 4.3rem;
  }

  .review-wrap {
    margin-top: 5rem;
  }

  .agent {
    gap: 0.6rem;
  }

  .agent strong {
    font-size: 1.8rem;
  }

  .agent p {
    font-size: 1.5rem;
  }

  .agent + p {
    font-size: 1.8rem;
    height: 11rem;
    margin-top: 2rem;
  }

  .alarm-intro .intro-btn {
    width: 21rem;
    height: 5.5rem;
    font-size: 2rem;
    margin: 14rem auto 21rem;
  }

  /* dongne-map----------------------------------- */

  .fit-store .inner {
    padding: 3rem 2rem 0 2rem;
  }

  .find-map {
    margin: 3rem 0 0 0;
  }

  .fit-store h3 {
    font-size: 2.3rem;
  }

  .store-search {
    margin-top: 2.5rem;
  }

  .filter {
    margin-top: 2rem;
  }

  .location {
    padding: 0.5rem 0 0.1rem;
    gap: 0.4rem;
  }

  .location .icon {
    width: 2.1rem;
    height: 2.1rem;
    background: url(../img/find-loc-icon-s.svg) no-repeat 50%;
  }

  .location .text {
    font-size: 1.4rem;
  }

  .filter-btns {
    gap: 0.5rem;
  }
  .filter-btns .btn-hob {
    max-width: 11.2rem;
    height: 3.6rem;
    gap: 0.5rem;
    padding: 1rem;
  }

  .btn-hob.on .text {
    font-size: 1.4rem;
  }

  .btn-hob.on .icon {
    width: 2.2rem;
    height: 2.2rem;
    background: url(../img/find-hob-icon-on-s.svg);
  }

  .filter-btns .btn-area {
    width: 7.5rem;
    height: 3.6rem;
    gap: 0.3rem;
    padding: 0;
  }

  .filter-btns .btn-area .text {
    font-size: 1.4rem;
  }
  .filter-btns .btn-area .icon {
    width: 2rem;
    height: 2rem;
    background: url(../img/find-area-icon-s.svg) no-repeat 50%;
  }

  .results {
    margin-top: 5rem;
  }

  .results-top {
    font-size: 1.2rem;
  }

  .results-bottom {
    margin-top: 2rem;
  }

  .re-wrap li figure {
    width: 9rem;
    height: 9rem;
  }

  .re-wrap li a {
    gap: 1rem;
  }

  .store-info-wrap dl dt {
    font-size: 1.6rem;
    gap: 0.5rem;
    margin-bottom: 0.7rem;
  }
  .store-type {
    font-size: 1.1rem;
  }

  .store-info-wrap dd {
    font-size: 1.3rem;
  }
  .store-info-wrap dd + dd {
    font-size: 1.3rem;
  }

  .store-open {
    margin-left: 1rem;
  }

  .more-store {
    margin: 4.5rem auto 0;
    gap: 0.6rem;
  }

  .plus-text {
    font-size: 1.5rem;
  }

  .store-plus {
    width: 1.9rem;
    height: 1.9rem;
    background: url(../img/store-plus-m.svg) no-repeat 50%;
  }

  .g-map {
    margin-top: 7rem;
  }

  .store-info {
    padding: 3rem 2rem 12rem;
  }

  .back-icon {
    width: 2.2rem;
    height: 2.2rem;
    background: url(../img/back-s.svg) no-repeat 50%;
  }

  .name-flex {
    margin-right: 2.2rem;
  }

  .store-title {
    gap: 0.5rem;
  }

  .store-name {
    font-size: 2.5rem;
  }
  .type-info {
    font-size: 1.5rem;
  }

  .store-img {
    margin-top: 2.5rem;
  }

  .info-list {
    gap: 3.2rem;
  }

  .info-list dl dt,
  .info-list dl dd {
    font-size: 1.6rem;
  }

  .address-wrap button {
    height: 4.3rem;
    font-size: 1.6rem;
    max-width: 41rem;
  }

  .back-list {
    height: 5rem;
    margin: 6.5rem auto 1rem;
  }
  .back-text {
    font-size: 1.6rem;
  }

  .store-filter {
    padding: 4rem 3rem;
    height: 70%;
  }

  .filter-title {
    font-size: 2rem;
  }

  .close-btn {
    width: 1.8rem;
    height: 1.8rem;
    background: url(../img/sub-close-btn-s.svg) no-repeat 50%;
  }

  .menu {
    margin: 2.5rem 0rem;
  }

  .menu li .menu-item {
    padding: 0;
    height: 6rem;
  }

  .menu-title {
    gap: 0.5rem;
  }

  .menu-title .name {
    font-size: 1.6rem;
  }

  .menu-title .count {
    font-size: 1.2rem;
  }

  .spread-btn {
    width: 2rem;
    height: 2rem;
    background: url(../img/sub-fold-btn-s.svg);
  }

  .filter-apply {
    height: 4.7rem;
    font-size: 1.7rem;
  }

  .reset {
    font-size: 1.5rem;
    align-items: center;
    margin-left: 1.5rem;
  }

  .re-icon {
    width: 1.7rem;
    height: 1.7rem;
    background: url(../img/sub-reset-icon-s.svg);
    margin-bottom: 0.2rem;
  }

  .bottom-con {
    padding: 4rem 2rem 2.7rem;
  }

  .filter-body {
    padding-bottom: 5rem;
  }

  .sub-menu li {
    font-size: 1.4rem;
    padding: 0.7rem;
  }

  .sub-menu {
    margin: 1rem 0;
    gap: 1.1rem;
  }

  /* 테마지도----------------- */
  .update-theme {
    margin-top: 8.5rem;
  }

  .update-theme h2 {
    font-size: 2.5rem;
  }

  .update-slider {
    padding: 2.5rem 0 3rem;
  }

  .update-item {
    width: 75%;
    max-width: 44rem;
  }

  .about-update {
    margin-top: 1.5rem;
  }

  .about-update strong {
    font-size: 1.9rem;
  }

  .about-update p {
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }

  .swiper-pagination-progressbar.swiper-pagination-horizontal {
    height: 4px;
  }

  .theme-map {
    margin-top: 12rem;
  }

  .theme-map h2 {
    font-size: 2.5rem;
  }

  .theme-map-wrap {
    padding: 2.5rem 0 0;
  }

  .about-theme {
    padding-top: 1rem;
  }

  .about-theme strong {
    font-size: 1.7rem;
  }

  .about-theme p {
    padding: 0.3rem 1rem 0 0;
    font-size: 1.4rem;
  }

  .theme-map-wrap {
    row-gap: 4rem;
  }

  .theme-map .view-more {
    margin-top: 7rem;
  }

  .theme-list {
    margin-bottom: 8rem;
  }

  .theme-map-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 560px) {
  .semi-ad-con .con-txt .txt-wrap dl dt {
    font-size: 2.2rem;
  }
  .txt-wrap strong {
    font-size: 1.3rem;
  }

  .search-wrap {
    width: 45rem;
  }
}

@media (max-width: 480px) {
  .sub-new-alarm h2 {
    font-size: 3rem;
  }

  .sub-link a b {
    padding: 1.5rem 0;
  }

  .con-info {
    margin-top: 2.8rem;
  }

  .sub-new-alarm .alarm-con li figure {
    height: 25rem;
  }

  .view-more {
    margin-top: 8rem;
  }

  .sub-semi-ad {
    margin-top: 10rem;
  }

  .semi-ad-con .con-txt .txt-wrap dl dt {
    font-size: 1.9rem;
  }

  .txt-wrap strong {
    font-size: 1rem;
  }

  .search-wrap {
    width: 40rem;
    height: 4.7rem;
  }

  .con-info {
    text-align: left;
  }

  .alarm-con ul li:nth-child(even) .con-info {
    text-align: left;
  }

  .ad-con-list .txt-wrap dl dt {
    font-size: 2.1rem;
  }

  .ad-con-list .txt-wrap dl dd {
    font-size: 1.7rem;
  }

  .ad-con-list .txt-wrap p {
    margin-top: 1.3rem;
  }

  .store-name {
    font-size: 2.2rem;
  }
  .type-info {
    font-size: 1.4rem;
  }
}

@media (max-width: 424px) {
  .search-wrap {
    width: 35rem;
  }
}

@media (max-width: 390px) {
  .inner {
    width: 35rem;
  }

  .about {
    margin-top: 16.5rem;
  }

  .about-title h2 {
    font-size: 2.5rem;
    max-width: 28.4rem;
  }

  .about-title p {
    font-size: 1.3rem;
  }

  .intro-list p {
    font-size: 1.3rem;
  }
  .map-item-2 .map-intro-wrap p {
    max-width: 26rem;
  }

  .map-item-4 p {
    max-width: 33.7rem;
  }
  .title-wrap figure {
    height: 15rem;
  }

  .title-wrap figure img {
    height: 100%;
    object-fit: cover;
  }

  .br-mobile {
    display: block;
  }

  .sub-link {
    margin-top: 9rem;
  }

  .sub-link a {
    font-size: 1.4rem;
  }

  .map-intro {
    margin-top: 12rem;
  }

  .intro-list {
    gap: 13rem;
  }

  .map-item-1 figure {
    max-width: 34rem;
  }
  .tag-wrap figure {
    max-width: 90vw;
  }

  .map-theme-wrap ul li {
    width: 70vw;
    margin-right: 1%;
  }
  .map-item-4 p {
    max-width: 36.3rem;
  }

  .alarm-intro {
    margin-top: 8rem;
  }

  .new-intro h3 {
    font-size: 2.5rem;
  }

  .new-intro-wrap p {
    font-size: 1.5rem;
  }

  .new-intro-wrap {
    gap: 1rem;
  }

  .new-intro-wrap p {
    max-width: 33rem;
  }

  .new-item-1 figure {
    max-width: 35rem;
  }
  .new-item-1 {
    gap: 4.2rem;
  }

  .new-intro {
    gap: 10rem;
  }

  .new-item-2 {
    padding: 4rem 0 5.5rem 0;
  }

  .item-title p {
    font-size: 1.6rem;
  }

  .item-title {
    gap: 0.5rem;
  }

  .item-wrap {
    margin-top: 7.5rem;
    gap: 7.5rem;
  }

  .text-wrap h4 {
    font-size: 1.8rem;
  }

  .text-wrap p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  .sns p {
    max-width: 28rem;
  }

  .sns .img-wrap figure {
    max-width: 24rem;
  }

  .item-con {
    gap: 3.2rem;
  }

  .home .text-wrap p {
    max-width: 34rem;
  }

  .books p {
    max-width: 28rem;
  }

  .item-wrap .cp {
    gap: 3.4rem;
  }

  .note {
    gap: 1rem;
  }

  .p-wrap p {
    font-size: 1.2rem;
  }

  .review-wrap .swiper-slide {
    width: 30.8rem;
    height: 18.4rem;
    padding: 2.3rem;
  }

  .agent {
    gap: 0.5rem;
  }

  .agent strong {
    font-size: 1.5rem;
  }

  .agent p {
    font-size: 1.2rem;
  }

  .agent + p {
    font-size: 1.4rem;
    height: 11rem;
    margin-top: 1rem;
  }

  .new-item-4 .new-intro-wrap p {
    max-width: 36rem;
  }

  .alarm-intro .intro-btn {
    width: 21rem;
    height: 4.8rem;
    font-size: 1.7rem;
    margin: 10rem auto 14rem;
  }

  .store-title .store-name {
    font-size: 1.9rem;
  }

  .store-title .type-info {
    font-size: 1.2rem;
  }

  .store-img {
    margin-top: 1.7rem;
  }

  .info-list dl dt,
  .info-list dl dd {
    font-size: 1.4rem;
  }

  .info-list {
    gap: 2.5rem;
  }

  .info-list dl dd {
    margin-top: 0.3rem;
  }

  .address-wrap button {
    height: 3.9rem;
    font-size: 1.4rem;
  }

  .back-list {
    height: 4.3rem;
  }

  .back-text {
    font-size: 1.4rem;
  }

  .back-list-ico {
    width: 1.5rem;
    height: 1.5rem;
    background: url(../img/back-list-s.svg) no-repeat 50%;
  }

  .update-item {
    width: 90%;
    max-width: 34rem;
  }

  .about-update {
    margin-top: 1rem;
    padding: 0 0.5rem;
  }
  .about-update strong {
    font-size: 1.7rem;
  }
  .about-update p {
    font-size: 1.4rem;
    margin-top: 0.3rem;
  }
}
/* 추가 분기 */

@media (max-width: 378px) {
  .semi-ad-con .con-txt .txt-wrap dl dt {
    font-size: 1.7rem;
  }
  .txt-wrap strong {
    font-size: 0.9rem;
  }

  .search-wrap {
    width: 30rem;
  }

  .sub-new-alarm .alarm-con li figure {
    height: 20rem;
  }
}

@media (max-width: 350px) {
  .fit-store h3 {
    font-size: 2.1rem;
  }

  .location {
    gap: 0.1rem;
  }

  .location .text {
    font-size: 1.3rem;
  }
  .btn-hob.on .text {
    font-size: 1.3rem;
  }

  .filter-btns .btn-area .text {
    font-size: 1.3rem;
  }

  .filter-btns .btn-hob {
    max-width: 10.6rem;
    gap: 0.1rem;
    height: 3.3rem;
  }

  .filter-btns .btn-area {
    width: 6.3rem;
    gap: 0;
    height: 3.3rem;
  }
}
